body {
  margin: 0;
  font-family: "Lato";
  background-color: floralwhite;
}

.logo {
  padding: 10px;
  margin: 0px;
}

.search__btn {
  float: right;
}

#openBtn {
  position: absolute;
  right: 5px;
}

#closeBtn {
  visibility: hidden;
}

.search__bar {
  background-color: lightgray;
  position: absolute;
  width: 100%;
  visibility: hidden;
}

.search__field {
  width: 96%;
  margin: 8px;
  margin-left: 2%;
  margin-right: 2%;
}

.menu {
  overflow: hidden;
  background-color: darkcyan;
  display: flex;
}

.menu__main {
  float: left;
  display: block;
  color: lightgray;
  padding: 12px;
  border-bottom-style: solid;
  border-color: rgba(0, 0, 0, 0);
}

.menu__main:hover {
  color: white;
  border-color: cyan;
}

.newsfeed__title, .list-tag__link {
  text-transform: capitalize;
  font-size: 17px;
  color: #333;
  max-height: 65px;
  overflow-y: hidden;
  margin-bottom: unset;
}

.newsfeed__source {
  font-size: smaller;
  text-transform: capitalize;
  color: lightgray;
  margin-top: 10px;
}

.headline, .headline__group .headline__group-img .headline__overlay, .headline__group .headline__group-img .headline__img, .headline__group .headline__group-img, .headline__group {
  max-width: 360px;
  max-height: 180px;
  width: 100%;
  height: 100%;
}

.headline__group {
  margin: auto;
}
.headline__group .headline__group-img {
  position: absolute;
  overflow: hidden;
}
.headline__group .headline__group-img .headline__overlay {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  position: absolute;
}
.headline__group .newsfeed__title, .headline__group .list-tag__link {
  color: white;
  font-weight: bold;
  font-size: large;
}

.headline__group-title {
  position: relative;
  padding: 20px;
  padding-right: 40px;
}

.headline__source {
  color: white;
  font-size: small;
}

.content {
  max-width: 360px;
  margin: auto;
}

.news__group {
  background-color: white;
}

.news-group__inline {
  display: flex;
  overflow-x: scroll;
}

.newsfeed {
  width: 163px;
  height: 92px;
  display: inline-table;
  padding: 5px;
}

.newsfeed__img {
  width: 163px;
  height: 92px;
  background-color: lightgray;
}

.heading {
  text-transform: uppercase;
  color: #333;
  font-size: medium;
  padding: 10px;
}

.list-tag {
  list-style: "# ";
  color: darkcyan;
  padding: 20;
}

.list-tag__link {
  text-decoration: none;
  text-decoration-color: darkcyan;
  padding: 10px;
}

.slide__news-group {
  display: block;
}
.slide__news-group .newsfeed {
  display: none;
}
.slide__news-group .newsfeed .newsfeed__img {
  margin: auto;
  display: block;
}

.slide__control-group {
  text-align: center;
}

.slide__control-btn {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: lightgreen;
  border-radius: 50%;
  display: inline-block;
}

.slide__control-btn:hover {
  background-color: darkcyan;
}

.combine__big {
  display: contents;
}
.combine__big .newsfeed__img {
  display: block;
  margin: auto;
}

.combine__small, .news-group__list {
  display: grid;
}
.combine__small .newsfeed, .news-group__list .newsfeed {
  width: 95%;
  border-top-style: solid;
  border-color: lightgray;
  border-width: thin;
}
.combine__small .newsfeed .newsfeed__img, .news-group__list .newsfeed .newsfeed__img {
  width: 80px;
  height: 80px;
  float: right;
}

.first__img {
  max-width: 343px;
  max-height: 193px;
  margin: 5%;
  width: 90%;
  height: 90%;
}

.news-group__list {
  color: darkcyan;
}
.news-group__list .first {
  border-style: none;
}

/*# sourceMappingURL=main.css.map */
